*{
    padding: 0;
    margin: 0;
}
body{
   
        height: 100vh;
    display: flex;
    
    font: bold 12px Arial, helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    background-color:black;
    
    
    
}
.clock{
    
     border: 2px solid #00ff00;
    padding: 40px;
    color: #ffff;
    border-radius: 10px;
    background-color: black;

}
#date{
    font-size: 20px !important;
    text-align: center;

}
.clock ul{
   list-style: none; 
   display: flex;
   font-size: 88px;
   gap: 15px;
}